@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body,
button {
  font-family: "Poppins", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin: 0;
    padding: 0;
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; /* Set body height to cover entire viewport */
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden; /* Disable horizontal scrolling */
}

body {
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
  background-color: #F2F2F2;
}

.loader {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
}

.loader.visible {
  opacity: 1;
}

.main-content {
  display: none;
}

.loader img {
  max-height: 40vh;
  max-width: 50%; 
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  overflow-y: hidden;
  transition: width 0.5s; /* Adjust transition duration for smooth closing motion */
}

.sidebar.active {
  width: 325px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: #ddd;
  color: black;
}

.sidebar-header {
  background-color: #058789;
  text-align: center;
  line-height: 90px;
  height: 90px;
  width: 100%;
  border-bottom: none; /* Remove border at the bottom */
}

.sidebar-design {
  position: absolute; /* Set position to absolute */
  top: 0;
  left: 0;
  z-index: -1; /* Send the background behind other content */
}

.sidebar-logo {
  height: 50px; /* Adjust height as needed */
  width: auto; /* Maintain aspect ratio */
  margin-top: 20px; /* Adjust margin to center vertically */
}

.sidebar-content {
  position: relative; /* Set position to relative */
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align items in the center horizontally */
}

.new-treatment-box {
  position: relative;
  width: 160px;
  height: 50px;
  background-color: #D9D9D9;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 40px 72.5px 20px 72.5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease; /* Adjust transition for smooth motion */
}

.new-treatment-box:hover {
  transform: translateY(-5px); /* Move the box up slightly on hover */
  background-color: #CCE6E7; /* Change background color on hover */
}

.add-button-icon:hover {
  transform: translateY(-5px); /* Move the box up slightly on hover */
}

.new-treatment-box:hover {
  transform: translateY(-5px); /* Move the box up slightly on hover */
  background-color: #CCE6E7;
}

.new-treatment-text {
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: black;
  text-align: left;
  padding-left: 10px;
  margin-right: 5px; /* Adjusted margin */
}

.add-button-icon {
  width: 24px;
  height: 24px;
  margin-right: 10px; /* Adjusted margin */
  transition-property: transform;
  transition-duration: 400ms;
  transition-timing-function: linear;
}

.add-button-icon:hover {
  transform: scale(1.3);
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Align items to the start horizontally */
  margin-top: 20px;
  width: 100%; /* Ensure full width */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu-item:hover {
  transform: translateY(-5px); /* Move the box up slightly on hover */
}

.menu-text:hover {
  color: #058789;
}

.dashboard-icon,
.ai-icon,
.patients-icon,
.records-icon,
.medreports-icon {
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 15px;
  padding-left: 85px;
}

.menu-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: black;
}

/* Add styles for the new header title */
.menu-header {
  margin-top: 50px; /* Adjust margin as needed */
  margin-bottom: 10px;
  align-self: flex-start; /* Align to the start vertically */
  padding-left: 60px; /* Add padding to the left */
}

.menu-header-text {
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  font-weight: 550;
  color: black;
  letter-spacing: 1px;
}

/* Add styles for the new menu items */
.activity-icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 15px;
    padding-left: 85px;
  }

.settings-icon {
  width: 1.375rem;
  height: 1.375rem;
  margin-right: 15px;
  padding-left: 85px;
}

.log-out-icon {
  width: 34px;
  height: 34px;
  margin-right: 8px;
  padding-left: 80px;
}

.topnav {
  background-color: #058789;
  height: 90px;
  position: relative;
  transition: margin-left 0.5s;
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-toggle {
  color: white;
  font-size: 40px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 4; /* Ensure the button is above the overlay */
  padding-left: 25px;
  padding-right: 25px;
  transition: 0.5s;
}

#menu-icon,
#close-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#close-icon {
  display: none; /* Initially hide the close icon */
}

.menu-toggle.active #menu-icon {
  display: none; /* Hide the menu icon when sidebar is active */
}

.menu-toggle.active #close-icon {
  display: block; /* Show the close icon when sidebar is active */
}

.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  z-index: 2; /* Ensure the overlay layer is below the sidebar */
  transition: 0.5s;
}

.overlay.active {
  display: block;
}

.content {
  margin-left: 0;
  transition: margin-left 0.5s;
}

.content.active {
  margin-left: 325px;
}

.overlay.active {
  display: block;
}

.topnav.active {
  margin-left: 325px; /* Shift topnav bar when sidebar is active */
}

.footer.active {
  margin-left: 0; /* Shift footer when sidebar is active */
  padding-left: 50px;
}

body.sidebar-active {
  overflow-y: hidden;
}

.dashboard-header-container {
  position: relative;
}

.dashboard-header {
  width: 100%;
  height: 311px;
}

.dashboard-text {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #058789;
  font-size: 20px;
  margin-right: 130px;
}

.dashboard-text p:nth-child(1) {
  margin-bottom: 0;
}

.dashboard-text p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
}

.bold {
  font-weight: bold;
}

.header-middle {
  justify-content: center;
  text-align: center;
  color: #E13F3D; 
  font-size: 40px; 
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  margin: 40px 0 20px 0;
}

.table-container {
  display: flex;
  justify-content: center; /* Align the table in the middle */
  overflow-x: hidden; /* Disable horizontal scrolling */
}

.dashboard-table {
  width: 100%; /* Adjust the width to fit the container */
  max-width: 1085px; /* Set maximum width to maintain responsiveness */
  height: 499px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add drop shadow */
  border-radius: 15px; 
  margin: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.dashboard-table th, .dashboard-table td {
  padding: 8px;
  text-align: center;
}

.dashboard-table th {
  background-color: #058789;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border-right: 2px solid white; /* Color of the line between each column */
  border-bottom: 2px solid white; /* Add bottom border to table header */
  width: 1081px;
  height: 97px;
}

.dashboard-table th:first-child {
  border-top-left-radius: 15px; /* Add border radius to upper left corner */
}

.dashboard-table th:last-child {
  border-top-right-radius: 15px; /* Add border radius to upper right corner */
  border-right: none; /* Remove the right border of the last header */
}

.dashboard-table tr:nth-child(even) {
  background-color: #fff;
}

.dashboard-table tr:nth-child(odd) {
  background-color: white;
}

.dashboard-table tr:nth-child(n+3) td {
  border-radius: 0; /* Remove border-radius starting from the 3rd row */
}

.dashboard-table tr:last-child td {
  border-bottom-left-radius: 15px; /* Add border radius to the lower-left corner of the last row */
  border-bottom-right-radius: 15px; /* Add border radius to the lower-right corner of the last row */
}

.dashboard-table th:first-child {
  border-top-left-radius: 15px; /* Add border radius to upper left corner */
}

.dashboard-table th:last-child {
  border-top-right-radius: 15px; /* Add border radius to upper right corner */
  border-right: none; /* Remove the right border of the last header */
}

.dashboard-table tr:last-child td:first-child {
  border-bottom-left-radius: 15px; /* Add border radius to the lower-left corner of the last row */
}

.dashboard-table tr:last-child td:last-child {
  border-bottom-right-radius: 15px; /* Add border radius to the lower-right corner of the last row */
}

.dashboard-table tr:last-child td:first-child {
  border-bottom-left-radius: 15px; /* Remove border radius from the right side of the first column (last row) */
}

.dashboard-table tr:last-child td:nth-child(2) {
  border-bottom-right-radius: 0; /* Remove border radius from the left side of the second column (last row) */
}

.dashboard-table tr:last-child td {
  border-radius: 0; /* Remove border radius from all cells in the last row */
}

.health-tools-container {
  display: flex;
  justify-content: center; /* Center the items horizontally */
  margin-top: 20px; /* Add some top margin */
  gap: 40px; /* Add space between the items */
  padding: 10px;
  margin-bottom: 80px;
}

.health-tool {
  width: 330px;
  height: 136px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.health-icon {
  width: 60px;
  height: 60px;
  padding-right: 10px;
}

.tool-title {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #058789;
  margin-bottom: 1px; /* Reduce space between title and subtitle */
}

.tool-title:hover {
  transform: translateZ(-5px); /* Move the box up slightly on hover */
}

.tool-subtitle {
  font-family: 'Poppins', sans-serif;
  font-size: 16px; /* Adjust font size */
  color: black;
  margin-top: 1px; /* Reduce space between title and subtitle */
  font-weight: 600;
}

.health-tool:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Add shadow on hover */
  transform: translateY(-5px); /* Move the box up slightly on hover */
}

.health-tool-1:hover {
  background-color: #CCE6E7; /* Change background color on hover */
  transform: translateY(-5px); /* Move the box up slightly on hover */
}

.health-tool-2:hover {
  background-color: #CCE6E7; /* Change background color on hover */
  transform: translateY(-5px); /* Move the box up slightly on hover */
}

.health-tool-3:hover {
  background-color: #CCE6E7; /* Change background color on hover */
  transform: translateY(-5px); /* Move the box up slightly on hover */
}

.footer {
  background-color: #1D434E;
  height: auto;
  padding: 20px 0;
  position: relative;
}

.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-left {
  display: flex;
  align-items: center;
}

.sicko-text {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: white;
}

.separator {
  width: 4px;
  height: 60px;
  background-color: #ffffff;
  margin: 0 20px;
}

.pup-text {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #D9D9D9;
}

.pup-text p {
  margin: 5px 0;
}

.footer-right {
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center; /* Align items to the right */
  padding-top: 10px;
}

.footer-icons {
  display: flex;
  align-items: center;
}

.footer-icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  transition: 0.5s;
  cursor: pointer;
}

.footer-icon:hover {
  transform: translateY(-5px); /* Move the box up slightly on hover */
}

.support-text {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #D9D9D9;
}

/* AI-BASED SDT PAGE */

.ai-header-content {
  display: flex;
  justify-content: space-between; 
}

.ai-header-image-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex; 
  align-items: stretch; 
}

.ai-header-image-container img {
  width: 100%; 
  height: 100%; 
  object-fit: fill; 
}

.ai-header-text-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  text-align: center; /* Align text to the center */
  background-color: white;
  width: calc(60% - 20px);
  max-width: 920px;
  height: 320px;
}


.ai-header-text {
  text-align: left;
  padding: 20px;
}

.ai-text {
  color: #058789;
  font-size: 20px;
}

.ai-text p:nth-child(1) {
  margin-bottom: 0;
}

.ai-text p:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
}

.left-header {
  margin-bottom: 0;
}

.left-header p{
  font-size: 40px; 
  margin: 2.5rem 0 0 12.5rem; 
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  letter-spacing: 0.063rem;

}

.left-header-subtitle {
  margin: 0 0 1.875rem 12.5rem; 
  color: black; 
  font-weight: 400; 
  font-size: 0.938rem;
  letter-spacing: 0.063rem;
}

/* KEYWORD FIELD */
.symptoms-input-container {
  position: relative;
  width: 70%;
  max-width: 1133px;
  height: auto; /* Change height to auto */
  background-color: white;
  border-radius: 15px;
  margin: 20px auto;
  padding: 20px; /* Add padding to create space for tags */
  display: flex;
  flex-wrap: wrap; /* Allow tags to wrap */
  align-items: flex-start; /* Align tags to the top */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#symptoms-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  color: #000000;
  margin-bottom: 8px; /* Add margin at the bottom */
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-right: -8px; /* Compensate for the gap */
}

.tag {
  background-color: #058789;
  color: white;
  border-radius: 8px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  margin-right: 8px; /* Add margin to the right */
  margin-bottom: 8px; /* Add margin at the bottom */
  transition: transform 0.3s ease,
}

.tag:hover {
  transform: translateY(-5px); /* Move the box up slightly on hover */
  background-color: #E13F3D;
}

.tag-remove-icon {
  margin-left: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.generate-diagnosis-box {
  width: 339px;
  height: 62px;
  border-radius: 15px;
  background-color: #1D434E;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  cursor: pointer;
}

.generate-diagnosis-box:hover {
  background-color: #058789;
}

.generate-diagnosis-text {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-align: center;
}

/* Diagnosis Container */

.diagnosis-header {
  text-align: center;
  margin-top: 20px; /* Reduce the margin at the top */
  margin-bottom: 5px; /* Reduce the margin at the bottom */
}

.diagnosis-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 0; /* Remove margin at the top */
}

.diagnosis-box {
  width: 70%;
  max-width: 1133px;
  height: auto;
  border-radius: 15px;
  background-color: white;
  padding: 20px;
  margin-top: 20px; /* Adjust margin at the top */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.medical-condition,
.treatment-options {
  width: 100%;
  height: auto; /* Adjusted height */
}

.medical-condition-header {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #058789;
  margin-bottom: 10px;
  margin-left: 40px;
}

.treatment-options-container {
  display: flex; /* Make it a flex container */
  align-items: center; /* Align items vertically */
  margin-top: 0; /* Adjusted margin */
  height: auto;
}

.treatment-options-header {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #058789;
  margin: 0;
}

.sub-text {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: black;
  text-align: justify;
  line-height: 1.5; /* Adjust line height for better readability */
  margin: 0 40px 20px 60px;
  font-weight: 600;
}

.treatment-options {
  text-align: left;
}

.options-list {
  list-style-type: disc;
  padding-left: 0;
  margin: 0 0 0 50px;
}

.options-list li {
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 550;
}

.vertical-line {
  width: 10px;
  height: 150px;
  background-color: #000000;
  margin: 0 30px 0 90px;
  position: relative;
}

/* 2 Diagnosis Buttons */

.new-boxes-container {
  display: flex;
  justify-content: center;
  margin: 40px 0 80px 0;
  gap: 20px;
}

.back-button {
  width: 263px;
  height: 62px;
  border-radius: 15px;
  background-color: #777777;
  display: flex;
  align-items: center;
  cursor: pointer;
}


.back-button:hover {
  background-color: #3b3b3b;
}

.record-treatment-button {
  width: 339px;
  height: 62px;
  border-radius: 15px;
  background-color: #1D434E;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.record-treatment-button:hover {
  background-color: #058789;
}

.record-treatment-button .box-text{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
  margin-right: 20px;
}

.new-box:last-child {
  margin-left: 70px;
}

.box-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 15px;
}

.box-text {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

.new-box img {
  width: 24px;
  height: 24px;
}

/* TREATMENT RECORD PAGE */

.symptomps-header span {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.form-container {
  max-width: 1086px; /* Limit maximum width of form container */
  width: 100%; /* Ensure full width */
  margin: 0 auto; /* Center horizontally */
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.02em;
}

.form-container input:focus {
  background-color: white; /* Set background color when input is focused */
  outline: none;
}

.form-container input {
  font-size: 18px;
  font-family: 'Poppins', sans-serif; /* Added font-family rule */
}

/* Form Container Input when autofill */
.form-container input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; 
  background-color: white; 
}

#treatment-form {
  width: 100%;
  height: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-row {
  display: flex;
  justify-content: space-between; /* Distribute space between elements */
  align-items: center; /* Align items vertically */
  margin: 20px; /* Add margin between rows */
}


.input-row input,
.input-row select {
  flex-grow: 1; /* Allow inputs to expand and fill available space */
  margin-right: 10px; /* Add margin between inputs */
  font-weight: bold;
  font-size: 21px;
}

.right-row button {
  width: auto; /* Set button width to auto */
}


#full-name,
#gender,
#age, #course, 
#section, #symptoms,
#diagnosis, #treatments {
  height: 83px;
  border-radius: 15px;
  background-color: white;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s; /* Added transition for smoother effect */
}

#full-name {
  width: 569px;
}

#gender {
  width: 305px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

#age {
  width: 144px;
}

#course {
  width: 755px;
}

#section {
  width: 296px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.right-row {
  display: flex;
  justify-content: flex-end; /* Align items to the end */
  width: 95%; /* Ensure full width */
}

.middle-row {
  display: flex;
  justify-content: center; /* Align items to the end */
  width: 95%; /* Ensure full width */
}

.right-row p{
  font-size: 17px; 
  text-align: right; 
  margin-bottom: 0; 
  color: #E13F3D; 
  text-decoration: underline;
  cursor: pointer;
}

.right-row p:hover {
  color: #D22B2B;
}

#symptoms {
  width: 1082px;
}

#diagnosis, 
#treatments {
  width: 527px;
}

#submit-form-button {
  width: 207px;
  padding: 10px;
  background-color: #058789;
  color: #FFFFFF;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#submit-form-button:hover {
  background-color: #1D434E; /* Change background color on hover */
}

::placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.middle-row {
  display: flex;
  justify-content: center; /* Align items to the end */
  width: 100%; /* Ensure full width */
}

#generate-excuse-letter-button {
  width: 307px;
  padding: 10px;
  background-color: #058789;
  color: #FFFFFF;
  border: none;
  border-radius: 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  margin: 20px 0 50px 0;
}

#generate-excuse-letter-button:hover {
  background-color: #1D434E; /* Change background color on hover */
}


/* Table Delete Button  */

.table-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.25rem 1.25rem 1.25rem;
}

.button-container {
  display: flex;
  align-items: center;
}

.sorting-pagination-container {
  display: flex;
  align-items: center;
  margin-left: auto; /* Move to the right */
}

.sorting-button-box {
  margin-right: 20px; /* Add margin to separate from the buttons */
}

.delete-button {
  margin-right: 10px; /* Add space between buttons */
  padding: 8px 20px; /* Resize buttons */
  background-color: #E13F3D; /* Change background color */
  color: white; /* Change text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.cancel-button {
  background-color: #058789; /* Change background color */
  color: white; /* Change text color */
  border: none;
  border-radius: 5px;
  padding: 8px 20px; /* Resize buttons */
  cursor: pointer;
}

.delete-icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.delete-button:hover {
  background-color: #cc0000;
}

/*Sorting Button*/

.sorting-pagination-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.sorting-button-box select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

.sorting-button {
  width: 78px;
  height: 21px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sort-text {
  font-size: 12px;
  color: #333;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

/* Pagination buttons */
.pagination-buttons {
    display: flex;
    align-items: center;
}

.pagination-button {
  background-color: transparent;
  border: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 10px; /* Add margin between buttons */
}

.pagination-button:hover {
  color: #058789; /* Change color on hover */
}

.nameColumn:hover{
  cursor: pointer;
  color: #058789;
}

.two-container {
  width: auto;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 30px 25px 50px 25px;
}

.box-container {
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.left-box {
  width: 412px;
  height: 756px;
}

.profile-avatar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  margin-top: 30px;
}

.avatar-circle {
  width: 202px;
  height: 202px;
  border-radius: 50%;
  background-color: #E9E9E9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.initials {
  font-family: 'Poppins', sans-serif;
  font-size: 5.5rem;
  font-weight: bold;
  color: #058789;
}


.patient-info {
  text-align: center;
}

.patient-name {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #058789;
  margin-top: 15px; /* Adjust margin as needed */
}

.patient-id {
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  font-weight: 500;
  letter-spacing: 1px;
  color: black;
}

.horizontal-line-separator {
  width: 75%;
  border: 1px solid #D9D9D9;
  color: #D9D9D9;
  margin: 20px auto;
}

.additional-info-container {
  display: flex;
  justify-content: center; /* Center align the content horizontally */
}

.additional-info {
  text-align: left; /* Align the content within the container to the left */
  margin: 20px;
}

.info-label {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  color: #058789;
  font-weight: 600;
}

.info-value {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  color: black;
  margin-bottom: 15px;
}


.right-box {
  width: 627px;
  height: 756px;
}

.treatment-history-header {
  text-align: left; /* Center the avatar horizontally */
  margin: 30px 20px 20px 50px; /* Adjust margin top as needed */ 
}

.treatment-history-header span{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 1px;
}

.history-info-container {
  display: flex;
  justify-content: left;
  margin: 20px;
  width: 627px;
  height: auto;
}

.vertical-line-separator {
  width: 8px;
  height: 82px;
  background-color: #E9E9E9;
  position: relative;
}

.treatment-history-info {
  margin: 20px 20px 20px 40px;
}

.history-row {
  display: flex;
  justify-content: left;
  gap: 40px;
  margin-bottom: 40px;
}

.history-date {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: #494949;
  font-weight: bold;
  text-decoration: underline;
}

.history-diagnosis {
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #494949;
  margin: 10px 0 10px 0;
}

.diagnosis-tag {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color: #494949;
  font-weight: 600;
  margin: 10px 0 10px 0;
}

.diagnosis-tag-box {
  background-color: rgba(255, 0, 0, 0.4);
  color: black;
  border-radius: 15px;
  padding: 2px 8px 2px 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 11px;
  font-weight: 600;
}

.treatment-history-buttons {
  margin: 10px 50px 20px 20px; /* Adjust margin top as needed */ 
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 20px;
}

.history-prev-button {
  width: 96px;
  height: 32px;
  background-color: #D4D4D4;
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 600;
  border: none;
}

.history-next-button:hover {
  color: #3b3b3b !important;
}

.history-next-button {
  width: 65px;
  height: 32px;
  background-color: #058789;
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 600;
  border: none;
}

/* MED-REPORTS PAGE */ 

.collapse {
  height: 0;
  overflow: hidden;
}

.med-reports-header {
  display: flex;
  justify-content: center;
  margin: 2.5rem 1.25rem 5rem 1.25rem;
}

.med-reports-header-box {
  max-width: 100%;
  width: 1221px;
  height: 140px;
  border-radius: 6px;
  background-color: #FCFCFC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.medreports-header-text {
  font-family: 'Poppins', sans-serif;
  font-size: 43px;
  font-weight: bold;
  color: #058789;
  text-align: left;
  margin-left: 30px;
  max-width: calc(100% - 260px); /* Adjust according to your needs */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.medreports-sorting-button select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #058789;
  color: white;
  cursor: pointer;
}

.medreports-sorting-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.button-group {
  display: flex;
  align-items: center;
}

.button-separator {
  width: 0.063rem;
  height: 1rem;
  background-color: #ccc;
}

.delete-records, .download-button {
  display: flex;
  align-items: center; /* Align items vertically */
  cursor: pointer;
}

.delete-records i, .download-button i {
  margin-right: 0.625rem;
}

.delete-records {
  font-family: 'Poppins', sans-serif; 
  font-size: 1rem;
  font-weight: bold;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  cursor: pointer;
  color: #D22B2B;
}

.delete-records:hover {
  color: #cc0000;
}

.download-button a:hover i,
.download-button a:hover span {
    color: #04414d;
}

.download-button {
  font-family: 'Poppins', sans-serif; 
  font-size: 1rem;
  font-weight: bold;
  margin-left: 1.25rem;
  cursor: pointer;
  color: #058789;
}

.download-button:hover {
  color: #1D434E;
}

.quarterly-report-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.quarterly-report-row {
  display: flex;
  justify-content: center;
  margin: 20px  ;
}

.quarterly-report-row-box {
  max-width: 100%;
  width: 838px;
  height: 136px;
  border-radius: 15px;
  background-color: #FCFCFC;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease; /* Smooth transition for all properties */
}

.row-first-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.extend-down-icon {
  width: 50px;
  height: 50px;
  margin: 0 20px 0 20px;
  cursor: pointer;
  mix-blend-mode: multiply;
}

.quarter-number {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: #058789;
    font-weight: bold;
  }

  .month-name {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: black;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .total-diagnosis-box {
    width: 86px;
    height: 78px;
    background-color: #D9D9D9;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 20px 0 20px;
  }

  .total-diagnosis-box-text {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: bold;
  }

  .quarterly-report-alter {
    max-width: 100%;
    width: 838px;
    height: 426px;
    border-radius: 15px;
    background-color: #FCFCFC;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
    display: flex;
    justify-content: space-between;
    opacity: 1;
    transition: all 0.5s ease; /* Smooth transition for all properties */
  }

  .alter-report-content {
    justify-content: center;
  }

  .alter-report-header {
      max-width: 100%;
      width: 838px;
      height: 97px;
      border-radius: 15px 15px 0 0;
      background-color: #058789;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      display: flex;
      justify-content: space-between;
  }

  .alter-header-content {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 50px;
  }

  .alter-title {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: white;
    font-weight: bold;
  }

  .extended-down-icon {
    width: 50px;
    height: 50px;
    margin: 0 20px 0 20px;
    cursor: pointer;
  }

  .alter-second-row {
    display: flex;
    justify-content: center;
    margin: 50px 20px 50px 20px;
    gap: 20px;
  }

  .leading-diagnosis-box {
    width: 387px;
    height: 78px;
    background-color: #058789;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .leading-diagnosis-box-text {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
  }

  .alter-third-row {
    display: flex;
    justify-content: center;
    margin: 50px 20px 50px 20px;
    gap: 50px;
  }

  .alter-third-row-label {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 15px;
    align-self: flex-end;
  }

  .alter-third-row-result {
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
  }

  .collapsed {
    display: none;
  }

  .editProfile-input-container {
    position: relative;
  }

  #lastName, #middleName, #firstName,
  #email, #password, #confirmPassword {
    height: 83px;
    border-radius: 15px;
    background-color: white;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s; /* Added transition for smoother effect */
  }

  #lastName {
    width: 28.5rem;
  }

  #firstName {
    width: 21.25rem;
  }

  #middleName {
    width: 13.5rem;
  }
  
  #email, #password, #confirmPassword {
    width: 64.850rem;
  }

  .group {
    display: inline-block;
  }

  .userProfile-input-label {
    margin-left: 0.875rem;
  }

  #empty-field-message { 
    color: #D22B2B;
    display: flex; 
    justify-content: center;
  }