.modal-middle-icon {
    justify-content: center;
    display: flex;
}

.modal-title {
    color: #E13F3D;
    letter-spacing: normal;
    font-weight: bold;
    text-align: center;
    font-size: 2.5rem;
}

.modal-subtitle {
    color: #000000;
    letter-spacing: normal;
    text-align: center;
    font-size: 0.875rem;
    text-wrap: balance;
    display: flex;
    width: 98%;
}

.modal-buttons {
    justify-content: center;
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.modal-description {
    color: #000000;
    text-align: center;
    font-weight: normal;
    font-size: 0.875rem;
    text-wrap: balance;
    display: flex;
    width: 100%;
}

/* Saved Successfully Modal */
#loginFailed .modal-content {
    width: 500px;
    height: 343.43px;
    border-radius: 15px; /* Optional: Add border-radius for a rounded appearance */
    display: flex !important; /* Use flexbox */
    justify-content: center !important; /* Center content horizontally */
    align-items: center !important; /* Center content vertically */
}

#loginFailed .modal-body, .modal-buttons {
    text-align: center; /* Center align content */
    width: 100%; /* Ensure full width */
}

#loginFailed .modal-title {
    color: black; /* Set title color */
    font-size: 1.5rem; /* Adjust title font size as needed */
}



/* Saved Successfully Modal */
#saved-successfully .modal-content {
    width: 500px;
    height: 343.43px;
    border-radius: 15px; /* Optional: Add border-radius for a rounded appearance */
    display: flex !important; /* Use flexbox */
    justify-content: center !important; /* Center content horizontally */
    align-items: center !important; /* Center content vertically */
}

#saved-successfully .modal-body {
    text-align: center; /* Center align content */
    width: 100%; /* Ensure full width */
}

#saved-successfully .modal-title {
    color: black; /* Set title color */
    font-size: 1.5rem; /* Adjust title font size as needed */
}

#saved-successfully .modal-subtitle {
    justify-content: center; /* Center align subtitle */
    width: 100%; /* Ensure full width */
}

/* Preview Modal */
#previewModal .modal-content {
    width: 80rem;
    height: 31rem;
    border-radius: 0.938rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    letter-spacing: 0.020rem;
}

#previewModal .modal-body {
    display: flex;
    width: 100%;
    height: 100%;
}

#previewModal .content-wrapper {
    display: flex;
    width: 100%;
    height: 97%;
    padding: 0.625rem;
    overflow: hidden; /* To hide the default scrollbar */
}

#previewModal .custom-scrollbar {
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
}

#previewModal .modal-title {
    color: black;
    font-size: 1.5rem;
}

#previewModal .modal-subtitle {
    justify-content: center;
    width: 100%;
}

.modal-student-info-title {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: left;
    margin: 1rem 0 0.938rem 2rem;
}

.modal-student-info {
    display: flex;
    justify-content: space-between;
    margin-left: 3rem;
}

.modal-student-info .preview-label,
.modal-student-info .preview-value {
    flex-basis: 33.33%;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #333;
    text-align: center;
}

.modal-student-info .preview-value {
    font-weight: bold;
}

.horizontal-break-bar {
    width: 30rem;
    height: 0.063rem;
    background-color: #d9d9d9;
    border: none;
    margin: 2rem 0 1rem 0;
}

/* Apply custom scrollbar */
#previewModal .custom-scrollbar::-webkit-scrollbar {
    width: 0.5rem;
}

#previewModal .custom-scrollbar::-webkit-scrollbar-track {
    background: hsl(0, 0%, 85%);
    border-radius: 100vw;
    margin-block: 0.100rem;
}

#previewModal .custom-scrollbar::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 75%);
    border: 0.10em solid hsl(0, 0%, 75%);
    border-radius: 100vw;
}

#previewModal .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 55%);
}

#previewModal .body-content {
    padding: 1rem;
    width: 100%;
}



